<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.jpg</string>
		<key>name</key>
		<string>杨腾飞</string>
		<key>phoneNumber</key>
		<string>18623423432</string>
		<key>sex</key>
		<string>男</string>
		<key>introduce</key>
		<string>做为一名９０后，特别是中学生，现在大家都在宣传个性，张扬自己的个性。那拥有一个属于自己的个性中学生自我介绍是不是更特别呢？想不想要一个幽默个性自我介绍，搞笑个性自我介绍？让我们自己来制造一个适合自己的中学生自我介绍吧！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.jpg</string>
		<key>name</key>
		<string>肖云雷</string>
		<key>phoneNumber</key>
		<string>18623423442</string>
		<key>sex</key>
		<string>男</string>
		<key>introduce</key>
		<string>我的缺点就是不会打篮球，也不知到是怎么一回事，就是不喜欢，而且， 我上课还总走神，不注意听讲。所以，老师叫我后，我还满有信心的站起来，百分之八十都是对的，害的老师又气又笑。 这就是我，只要一见到我，我总是笑，我会热情的和你打招呼，来吧</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.jpg</string>
		<key>name</key>
		<string>白亚洁</string>
		<key>phoneNumber</key>
		<string>13543246584</string>
		<key>sex</key>
		<string>女</string>
		<key>introduce</key>
		<string>做为一名９０后，特别是中学生，现在大家都在宣传个性，张扬自己的个性。那拥有一个属于自己的个性中学生自我介绍是不是更特别呢？想不想要一个幽默个性自我介绍，搞笑个性自我介绍？让我们自己来制造一个适合自己的中学生自我介绍吧！</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.jpg</string>
		<key>name</key>
		<string>张彦</string>
		<key>phoneNumber</key>
		<string>15923421344</string>
		<key>sex</key>
		<string>男</string>
		<key>introduce</key>
		<string>我是一个活泼开朗的男孩，我喜欢运动，跑步，跳高，跳远，打球都是我的长项，而且我还参加了跆拳道培训，现在已经红带了，教练经常夸我打的好，我自己也很骄傲。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.jpg</string>
		<key>name</key>
		<string>范俊鹏</string>
		<key>phoneNumber</key>
		<string>18235433211</string>
		<key>sex</key>
		<string>男</string>
		<key>introduce</key>
		<string>我也喜欢学习，不仅书本知识掌握的好，而且经常看一些课外书，童话故事，古典名著，社会科学，名人故事，历史故事。我特别喜欢兵器方面的书，飞机，坦克，冲锋枪我都非常喜欢。我准备好好学习，将来发明一架超级飞机，来保卫祖国。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.jpg</string>
		<key>name</key>
		<string>孙明月</string>
		<key>phoneNumber</key>
		<string>13832233485</string>
		<key>sex</key>
		<string>女</string>
		<key>introduce</key>
		<string>我的名字是孙明月，今年20岁，正在学习iOS开发。</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.jpg</string>
		<key>name</key>
		<string>朱文鹏</string>
		<key>phoneNumber</key>
		<string>15633236784</string>
		<key>sex</key>
		<string>男</string>
		<key>introduce</key>
		<string>小男孩儿一位，现年十三岁，并非大家闺秀，其貌不扬， 生于广西柳州市。祖籍浙江(为金庸之老乡)，却从未涉足此地。四岁上，随父进京，进入地科院幼儿园。人生地不熟，受小朋友之欺侮，常含泪缩于墙角，渐将爱动爱闹之习改掉，胆小慎微，直至现今。记得当时住于一小院，母亲教之读幼儿书报，增长见闻，并习钢琴，后受益匪浅。 六岁半入小学，低年级时甚欢乐。班主任姓粱，极慈祥，伙伴亲密如一家。可惜好景不长，三年级插班时并入二班，亦搬家至先住地。此班同学待人冷漠，妒性强，不以诚心相对；搬家后住处离小学甚远，与同学不能互通有无，更增隔膜。在此班中度日如年，几欲转学而不得，只得整日学习，以慰无聊。常受老师表扬，实不知乃出于无奈。 </string>
	</dict>
</array>
</plist>
